<div class="container">
  <div class="box">
    <div class="profile">
      <div class="image-initials">
        <span>EG</span>
      </div>
      <div class="name-email">
        <span class="name">Gabriel Castro</span>
        <span class="email">egcastro96@gmail.com</span>
      </div>
    </div>

    <!-- <mat-form-field appearance="fill" floatLabel="always">
      <input matInput type="text" class="example-right-align" placeholder="0">
      <img matPrefix src="assets/images/icons/search.svg" alt="">
    </mat-form-field>
   -->

    <div class="search">
      <img src="assets/images/icons/search.svg" alt="">
      <input type="text" placeholder="Search">
    </div>

    <div class="important-and-tasks">
      <app-option pathIcon="assets/images/icons/favorite-marked.svg" text="Important"></app-option>
      <app-option pathIcon="assets/images/icons/house.svg" text="Tasks"></app-option>
    </div>

    <div class="task-lists">
      <app-option pathIcon="assets/images/icons/list.svg" text="Task List"></app-option>
      <app-option pathIcon="assets/images/icons/list.svg" text="House List"></app-option>
    </div>
  </div>

  <app-option pathIcon="assets/images/icons/add.svg" text="New List" newList="true"></app-option>
</div>
